<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
   <div class="about content">
        <h2>About Us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minima dolores placeat nostrum, ipsam nemo delectus, facere doloremque, aut sequi laborum optio cum quidem enim quas debitis! Quae, amet iure. Doloremque voluptate itaque possimus illo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minima dolores placeat nostrum, ipsam nemo delectus, facere doloremque, aut sequi laborum optio cum quidem enim quas debitis! Quae, amet iure. Doloremque voluptate itaque possimus illo.</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque minima dolores placeat nostrum, ipsam nemo delectus, facere doloremque, aut sequi laborum optio cum quidem enim quas debitis! Quae, amet iure. Doloremque voluptate itaque possimus illo.</p>
    </div>
    <%- include('./partials/footer.ejs') %>
</body>
</html>