<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
<body>
    <%- include('./partials/nav.ejs') %>
   <div class="create-blog content">
       <h2 class="create-title">Create New Post</h2>
       <form>
           <label for="tile">Post Title</label>
           <input type="text" id="title">
           <label for="snippet">Post Snippet</label>
           <input type="text" id="snippet">
           <label for="body">Body</label>
           <textarea id="bodt"></textarea>
           <button>Submit</button>
       </form>
   </div>
   <%- include('./partials/footer.ejs') %>
</body>
</html>